{{ attach_library('uagc/background-cover') }}
<section class="section commencement-hero section--feature-space-with-thin-image{% if content.field_feature_space_gradient.0['#markup'] == "blue" %} is-blue{% endif %}">
  <div class="section__image background-cover js-background-image commencement-hero__background-image">
    {{ content.field_large_image }}
  </div>
  <div class="section__wrapper">
    <div class="section__wrapper-inner">
      {% if (content.field_header_size and content.field_header_size.0['#markup'] == 'h1') %}
      <h1 class="section__header">{{ content.field_headline }}</h1>
      {% else %}
      <h2 class="section__header">{{ content.field_headline }}</h2>
      {% endif %}
      
    </div>
  </div>

      <div class="commencement-hero__right-side">
        <svg class="commencement-hero__cap-svg" width="130" height="132" viewBox="0 0 130 132" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.0952 71.6532H100.852V98.1453C100.852 98.1453 81.575 117.801 63.9738 117.801C46.3727 117.801 27.0952 98.1453 27.0952 98.1453V71.6532Z" fill="#E49829"/><path d="M2.89295 66.0714L65.1348 40.6556L127.377 66.0714L65.1348 95.7228L2.89295 66.0714Z" fill="#E49829" stroke="#0C234B" stroke-width="2"/><path d="M62.2974 67.3803C62.2974 67.3803 63.3189 64.2555 66.3836 62.1723C69.4483 60.0891 71.4914 60.0891 71.4914 60.0891C71.4914 60.0891 75.5777 60.0891 78.6424 59.0475C81.7071 58.0059 82.7286 54.8811 82.7286 54.8811C82.7286 54.8811 83.7502 52.7979 86.8149 50.7147C89.8796 48.6316 92.9443 48.6316 92.9443 48.6316C92.9443 48.6316 97.0305 48.6316 99.0737 46.5484C101.117 44.4652 103.16 42.382 103.16 42.382" stroke="white" stroke-width="2"/><path d="M107.738 43.5578C106.067 44.6332 103.869 44.1357 102.827 42.4467C101.786 40.7577 102.296 38.5168 103.967 37.4414L105.473 36.4716L109.245 42.588L107.738 43.5578Z" fill="white"/><path d="M108.188 41.6399C110.774 40.2106 116.611 37.3113 119.271 37.1479" stroke="white" stroke-width="2"/><path d="M105.943 37.9228C109.606 35.8989 117.43 31.2492 119.423 28.841" stroke="white" stroke-width="2"/><path d="M107.069 39.7818C107.069 39.7818 111.592 37.2836 114.823 35.4991C118.054 33.7147 123.594 31.4713 123.594 31.4713" stroke="white" stroke-width="2"/></svg>
        <h2 class="commencement-hero__right-side-header" >{{ content.field_headline_right }} <span class="commencement-hero__right-side-subheader">{{ content.field_sub_headline_right }}</span></h2>
        <span class="commencement-hero__cta-button">{{ content.field_button }}</span>
    </div>
</section>
