<section class="section section--text-link-blocks degree-by-interest">
  <div class="layout-constrain--narrow">
    <div class="section__wrapper">
      <div class="section__header-wrapper">
        <h2 class="section__header">
          <span>{{ 'Explore'|t }}</span>{{ 'Degrees'|t }}
        </h2>
      </div>
      <div class="section__link-wrapper">

        <div class="section__item" property="schema:isSimilarTo">
          <a href="/degrees/masters-online" class="section__link">
            <h3>
              <span>
                {{ 'View All'|t }}
              </span>
              Master's <br>
              {{ 'Degrees'|t }}
            </h3>
          </a>
        </div>

        <div class="section__item" property="schema:isSimilarTo">
          <a href="/degrees/bachelors-online" class="section__link">
            <h3>
              <span>
                {{ 'View All'|t }}
              </span>
              Bachelor's <br>
              {{ 'Degrees'|t }}
            </h3>
          </a>
        </div>

        <div class="section__item" property="schema:isSimilarTo">
          <a href="/degrees/associate-degrees-online" class="section__link">
            <h3>
              <span>
                {{ 'View All'|t }}
              </span>
              Associate <br>
              {{ 'Degrees'|t }}
            </h3>
          </a>
        </div>

        <div class="section__item" property="schema:isSimilarTo">
          <a href="/degrees/online-phd-programs" class="section__link">
            <h3>
              <span>
                {{ 'View All'|t }}
              </span>
              Doctoral <br>
              {{ 'Degrees'|t }}
            </h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--degree-interest">
  <div class="layout-constrain--narrow">
    <div class="section__wrapper">
      <div class="section__header">
        <h2 class="section--degree-interest-header">Degrees in Demand</h2>
      </div>
      <div class="section__content">
        <div class="section__top-row">

          Choose from online college degrees in some of today's in-demand fields.

        </div>
        <div class="section__bottom-row">
          <div class="section__programs">
            <div class="views-element-container">
              <div
                class="view view--interests view--display-interests js-view-dom-id-607232f11af8fdf04ecafbce7a782d8a4beda29100bbbd35182decc98f908b0b">



                <div class="view__content">
                  <div class="view__row">
                    <a href="/online-degrees/social-behavioral-science" hreflang="en">Behavioral Science Degree</a>
                  </div>
                  <div class="view__row">
                    <a href="/online-degrees/business" hreflang="en">Online Business Degree Programs</a>
                  </div>
                  <div class="view__row">
                    <a href="/online-degrees/criminal-justice" hreflang="en">Criminal Justice Degree</a>
                  </div>
                  <div class="view__row">
                    <a href="/online-degrees/education" hreflang="en">Online Education Degree</a>
                  </div>
                  <div class="view__row">
                    <a href="/online-degrees/health-care" hreflang="en">Health Care Degrees Online</a>
                  </div>
                  <div class="view__row">
                    <a href="/online-degrees/information-technology" hreflang="en">IT Degrees</a>
                  </div>
                  <div class="view__row">
                    <a href="/online-degrees/liberal-arts" hreflang="en">Liberal Arts Degree</a>
                  </div>
                </div>

              </div>
            </div>

          </div>
          <div class="section__browse">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>