{# Testing build issue #}
{% set colorClass = "--orange" %}
{% if content.field_color[0]["#markup"] == 'Arizona Red' %}
  {% set colorClass = '--azRed'%}
{% elseif content.field_color[0]["#markup"] == 'Arizona Blue' %}
  {% set colorClass = '--azBlue'%}
{% elseif content.field_color[0]["#markup"] == 'Orange' %}
  {% set colorClass = '--orange'%}
{% elseif content.field_color[0]["#markup"] == 'Blue' %}
  {% set colorClass = '--blue' %}
{% elseif content.field_color[0]["#markup"] == 'River' %}
  {% set colorClass = '--river' %}
{% endif %}

{% set colorClass2 = "--river" %}
{% if content.field_block_2_color[0]["#markup"] == 'Arizona Red' %}
  {% set colorClass2 = '--azRed'%}
{% elseif content.field_block_2_color[0]["#markup"] == 'Arizona Blue' %}
  {% set colorClass2 = '--azBlue'%}
{% elseif content.field_block_2_color[0]["#markup"] == 'Orange' %}
  {% set colorClass2 = '--orange'%}
{% elseif content.field_block_2_color[0]["#markup"] == 'Blue' %}
  {% set colorClass2 = '--blue' %}
{% elseif content.field_block_2_color[0]["#markup"] == 'River' %}
  {% set colorClass2 = '--river' %}
{% endif %}

<div class="dual-colored-blocks ">
{% if content.field_block_link[0]['#url'] %}
  <a href="{{content.field_block_link[0]['#url'] }}" class="dual-colored-blocks__link {{ colorClass }}">
{% else %}
  <div class="dual-colored-blocks__link {{ colorClass }}">
{% endif %}
    <div class="dual-colored-blocks__content">
      <div class="dual-colored-blocks__preheader">
        {{content.field_block_pre_header}}
      </div>
      <h3 class="dual-colored-blocks__title">{{content.field_block_header}}</h3>
      <div class="dual-colored-blocks__bottom-text">
        {{content.field_block_bottom_text}}
      </div>
    </div>
    <div class="dual-colored-blocks__image">{{content.field_block_image}}</div>
{% if content.field_block_link[0]['#url'] %}
  </a>
{% else %}
  </div>
{% endif %}
{% if content.field_block_2_link[0]['#url'] %}
  <a href="{{content.field_block_2_link[0]['#url'] }}" class="dual-colored-blocks__link {{ colorClass2 }}">
{% else %}
  <div class="dual-colored-blocks__link {{ colorClass2 }}">
{% endif %}
    <div class="dual-colored-blocks__content">
      <div class="dual-colored-blocks__preheader">
        {{content.field_block_2_pre_header}}
      </div>
      <h3 class="dual-colored-blocks__title">{{content.field_block_2_header}}</h3>
      <div class="dual-colored-blocks__bottom-text">
        {{content.field_block_2_bottom_text}}
      </div>
    </div>
    <div class="dual-colored-blocks__image">{{content.field_block_2_image}}</div>
{% if content.field_block_2_link[0]['#url'] %}
  </a>
{% else %}
    </div>
{% endif %}
</div>
