<div class="featured-articles__container">
  {% for row in rows %}
    {% if loop.index == 1 %}
      <div class="featured-articles__featured-card">
        <a class="featured-articles__link" href="{{ view.style_plugin.getField(loop.index0, 'view_node') }}">
          {% if row.content['#row']._entity.field_featured_image is not empty %}
            <img class="featured-articles__image" src="{{row.content['#row']._entity.field_featured_image.entity.field_media_image.entity.uri.value | image_style('featured_article_590x330')}}" loading="lazy" typeof="foaf:Image" alt="{{row.content['#row']._entity.field_featured_image.entity.field_media_image.alt}}">
            <img class="featured-articles__featured-image" src="{{row.content['#row']._entity.field_featured_image.entity.field_media_image.entity.uri.value | image_style('featured_article_1135x420')}}" loading="lazy" typeof="foaf:Image" alt="{{row.content['#row']._entity.field_featured_image.entity.field_media_image.alt}}">
          {% endif %}
          <div class="featured-articles__category">{{ view.style_plugin.getField(loop.index0, 'field_article_category') }}</div>
          <h3 class="featured-articles__title">{{ view.style_plugin.getField(loop.index0, 'title') }}</h3>
          <div class="featured-articles__content">
            <div class="featured-articles__featured-copy">
              <p>{{ view.style_plugin.getField(loop.index0, 'body') }}</p>
            </div>
            <div class="featured-articles__info-container">
              <div class="featured-articles__info">
                {{ view.style_plugin.getField(loop.index0, 'created') }}
                {{ view.style_plugin.getField(loop.index0, 'field_read_length') }}
              </div>
              <div class="featured-articles__cta-container">
                <div class="featured-articles__cta">
                  <span class="featured-articles__cta-text">Read Article</span>
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.1665 10H15.8332" stroke="#AB0520" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 4.16675L15.8333 10.0001L10 15.8334" stroke="#AB0520" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {# Starting container that follows the first featured card #}
      <div class="featured-articles__card-container">
      {% else %}
        <a class="featured-articles__link" href="{{ view.style_plugin.getField(loop.index0, 'view_node') }}">
          {% if row.content['#row']._entity.field_featured_image is not empty %}
            <img class="featured-articles__image" src="{{row.content['#row']._entity.field_featured_image.entity.field_media_image.entity.uri.value | image_style('featured_article_590x330')}}" loading="lazy" typeof="foaf:Image" alt="{{row.content['#row']._entity.field_featured_image.entity.field_media_image.alt}}">
          {% endif %}
          <div class="featured-articles__category">{{ view.style_plugin.getField(loop.index0, 'field_article_category') }}</div>
          <div class="featured-articles__content">
            <h3 class="featured-articles__title">{{ view.style_plugin.getField(loop.index0, 'title') }}</h3>
            <div class="featured-articles__info-container">
              <div class="featured-articles__info">
                {{ view.style_plugin.getField(loop.index0, 'created') }}
                {{ view.style_plugin.getField(loop.index0, 'field_read_length') }}
              </div>
              <div class="featured-articles__cta-container">
                <div class="featured-articles__cta">
                  <span class="featured-articles__cta-text">Read Article</span>
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.1665 10H15.8332" stroke="#AB0520" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 4.16675L15.8333 10.0001L10 15.8334" stroke="#AB0520" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </a>
      {% endif %}

      {% if loop.last %}
        {# Closing container that begins right before else statement above #}
      </div>
    {% endif %}

  {% endfor %}
</div>
