




{%
set classes = [
'site-layout__article',
node.getType,
]
%}


<script type="text/javascript">
  window.ashfordlfs = window.ashfordlfs || {};
  window.ashfordlfs.{{ node.bundle ~node.getCreatedTime() | clean_class }} = window.ashfordlfs.{{ node.bundle ~node.getCreatedTime() | clean_class }} || {};

  {% if node.field_clientdocumentid.value != '' %}
  window.ashfordlfs.{{ node.bundle ~node.getCreatedTime() | clean_class }}.clientdocumentid = '{{ node.field_clientdocumentid.value }}';
  {% endif %}

  {% if node.field_sourceid.value != '' %}
  window.ashfordlfs.{{ node.bundle ~node.getCreatedTime() | clean_class }}.sourceid = '{{ node.field_sourceid.value }}';
  {% endif %}

  {% if node.field_revisionid.value != '' %}
  window.ashfordlfs.{{ node.bundle ~node.getCreatedTime() | clean_class }}.revisionid = '{{ node.field_revisionid.value }}';
  {% endif %}

  {% if node.field_form_id_class.value != '' %}
  window.ashfordlfs.{{ node.bundle ~node.getCreatedTime() | clean_class }}.formidclass = '{{ node.field_form_id_class	.value }}';
  {% endif %}



  window.ashfordlfs.{{ node.bundle ~node.getCreatedTime() | clean_class }}.degrees = [
    {% for key, item in node.field_degrees if key | first != '#' %}
  '{{item.entity.title.value}}',
    {% endfor %}
    ];

  window.ashfordlfs.{{ node.bundle ~node.getCreatedTime() | clean_class }}.interests = [
    {% for key, item in node.field_interests if key | first != '#' %}
  '{{item.entity.name.value | raw}}',
    {% endfor %}
    ];




</script>

<header class="site-header js-main-nav-re ">
  <div class="site-header__content">
    <div class="site-header__logo">
      <a href="/" class="site-header__logo-link"><img src="/themes/uagc/src/images/uagc.svg"
          alt="The University of Arizona Global Campus"></a>
    </div>
  </div>

</header>

{{drupal_entity('webform', 'lead_flow_system', check_access=false)}}

{{ attach_library('uagc/lead-form-logic') }}
{{ attach_library('uagc/story-rfi') }}
